
#bigBox {
      position: absolute;
      display: flex;
      float: right;
      margin-top: 20px;
      margin-left: 435px;
      margin-bottom: 7px;
  }
  
  #leftBox {
      height: 56px;
      width: 106px;
      background: #ceeaf2;
      border: 2px solid #b1b8cb;
      border-radius: 13px 0 0 13px;
      
  }
  
  #rightBox {
      height: 56px;
      width: 235px;
      background: #ceeaf2;
      border: 2px solid #b1b8cb;
      border-left: none;
      border-radius: 0 13px 13px 0;

  }

body{
    width:794px;
    height:606px
}  


		

  @font-face {
      font-family: Grenuble-Serial-ExtraBold-Regular;
      src: url(Grenoble-Serial-ExtraBold-Regular.ttf);
  }
  
  @font-face {
      font-family: COMIC;
      src: url(COMIC.TTF)
  }
  
  #head-title {
      position: absolute;
      font-family: Grenuble-Serial-ExtraBold-Regular; 
      font-size: 44px;
      color: #502a75;
      margin-top:20px;
      margin-left: 45px;
  }
#touch{
     position: absolute ;
      font-family:COMIC; 
      font-size: 10px;
      color: #a1ccb9;
      margin-top: 66px;
      margin-left: 199px;
}
#line{
      position: absolute ;
      margin-top: 83px;
      margin-left: 15px;
}
#car{
     position: absolute ;
    margin-top: 0px;
      margin-left: 0px;
}
#calldetail{
      position: absolute ;
      font-family: sans-serif; 
      font-size: 16px;
      color: #d17641;
      margin-top: 7px;
      margin-left: 75px;
}
#add1000{
    position: absolute ;
      font-family: sans-serif; 
      font-size: 11px;
      color: #502a75;
      margin-top: 7px;
      margin-left: 14px;
}
#menu{
     position: absolute ;
      font-family: sans-serif; 
      font-size: 14px;
      color: #adab9e;
      margin-top: 101px;
      margin-left: 43px;
    
}
#lag{
     position: absolute ;
      margin-top: 98px;
      margin-left: 688px;
    
}
#pic1{
     position: absolute ;
      margin-top: 130px;
      margin-left: 15px;
    
}
#children
{
     position: absolute ;
      margin-top: 130px;
      margin-left: 356px;
    
}
#pic2{
     position: absolute ;
      margin-top: 358px;
      margin-left: 15px;
    
}
#pinkdis {
      height: 156px;
      width: 227px;
      background: #ef7a82;
     position: absolute;
      display: flex;
      float: right;
      margin-top: 358px;
      margin-left: 123px;
  }
#selectitem{
    position: absolute ;
      font-family: sans-serif; 
      font-size: 17px;
      color: #fffff6;
      margin-top: 12px;
      margin-left: 12px;
}
#percentoff{
     position: absolute ;
      font-family: sans-serif; 
      font-size: 65px;
      color: #fffff6;
      margin-top: 40px;
      margin-left: 12px;
}
#percentoff2{
     position: absolute ;
      font-family: sans-serif; 
      font-size: 35px;
      color: #fffff6;
      margin-top: 47px;
      margin-left: 176px;
}
#off{
     position: absolute ;
      font-family: sans-serif; 
      font-size: 27px;
      color: #fffff6;
      margin-top: 75px;
      margin-left: 176px;
}
#purple {
      height: 86px;
      width: 251px;
      background: #b49bc3;
     position: absolute;
      display: flex;
      float: right;
      margin-top: 517px;
      margin-left: 15px;
  }
#babysleep1{
    position: absolute ;
      font-family: sans-serif; 
      font-size: 13px;
      color: #fffff6;
      margin-top: 7px;
      margin-left: 10px;
}
#babysleeppic{
      position: absolute ;
    margin-top: 25px;
      margin-left: 10px;
}
#babysleep2{
    position: absolute ;
      font-family: sans-serif; 
      font-size: 12px;
      color: #fffff6;
      margin-top: 23px;
      margin-left: 110px;
}
#blue {
      height: 86px;
      width: 511px;
      background: #8dcac3;
     position: absolute;
      display: flex;
      float: right;
      margin-top: 517px;
      margin-left: 270px;
  }
#text{
     position: absolute ;
    margin-top: 20px;
      margin-left: 35px;
}
#car2{
     position: absolute ;
    margin-top: 15px;
      margin-left: 257px;
}
#letup{
    position: absolute ;
      font-family: sans-serif; 
      font-size: 10px;
      color: #fffff6;
      margin-top: 20px;
      margin-left: 120px;
}
#shopour{
    position: absolute ;
      font-family: sans-serif; 
      font-size: 10px;
      color: #fffff6;
      margin-top: 20px;
      margin-left: 340px;
}